{% set id = identifier|default('ezdataflow_history_results') %}

{% import '@ezdesign/ezdataflow/macros.twig' as macros %}

<div id="loading_{{ id }}" class="text-center d-none">
    <svg class="ez-icon ez-icon--extra-large">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#spinner"></use>
    </svg>
</div>

<div id="{{ id }}" class="history-details-aware">
    {% if pager.currentPageResults|length %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.name'|trans }}</th>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.request'|trans }}</th>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.count'|trans }}</th>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.start'|trans }}</th>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.end'|trans }}</th>
                <th>{{ 'coderhapsodie.ezdataflow.history.list.status'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for job in pager.currentPageResults %}
                <tr>
                    <td>{{ job.label }}</td>
                    <td>{{ date(job.requested_date)|ez_short_datetime }}</td>
                    <td>{{ job.count|default('—') }}</td>
                    <td>{{ job.start_time ? date(job.start_time)|ez_short_datetime : '—' }}</td>
                    <td>{{ job.end_time ? date(job.end_time)|ez_short_datetime : '—' }}</td>
                    <td>{{ macros.translateStatus(job.status) }}</td>
                    <td class="ez-table__cell ez-table__cell--has-action-btns text-right">
                        <a href="{{ path('coderhapsodie.ezdataflow.job.details', {id: job.id}) }}"
                           class="btn btn-icon mx-2 modal-history-details"
                           title="{{ 'coderhapsodie.ezdataflow.history.list.view'|trans }}">
                            <svg class="ez-icon ez-icon--small-medium">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#about-info"></use>
                            </svg>
                        </a>
                        <a href="{{ path('coderhapsodie.ezdataflow.job.log', {id: job.id}) }}"
                           class="btn btn-icon mx-2 modal-history-details modal-history-log"
                           title="{{ 'coderhapsodie.ezdataflow.history.details.log'|trans }}">
                            <svg class="ez-icon ez-icon--small-medium">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#article"></use>
                            </svg>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="ez-table-no-content">{{ 'coderhapsodie.ezdataflow.history.list.empty'|trans }}</p>
    {% endif %}

    {% if pager.haveToPaginate %}
        <div class="ez-pagination justify-content-center align-items-center ez-pagination__spacing">
            {{ pagerfanta(pager, 'ez', {routeName: paginate_route, routeParams: paginate_params|default({})}) }}
        </div>
    {% endif %}
</div>

<script>
    (function ($) {
        $(document).ready(function ($) {
            // Manage ajax pagination
            $('#{{ id }}').delegate('.ez-pagination a', 'click', function (e) {
                e.preventDefault();
                $('#loading_{{ id }}').removeClass('d-none');
                $('#{{ id }}')
                    .html('')
                    .load(this.href + ' #{{ id }}>*', null, function () {
                        $('#loading_{{ id }}').addClass('d-none');
                    });
            });
        });
    })(jQuery);
</script>
