{% set id = identifier|default('ezdataflow_schedule_results') %}

<div id="loading_{{ id }}" class="text-center" hidden>
    <svg class="ez-icon ez-icon--extra-large">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="{{ ibexa_icon_path('spinner') }}"></use>
    </svg>
</div>

<div id="{{ id }}" class="history-details-aware">
    {% set body_rows = [] %}

    {% for item in pager.currentPageResults %}
        {% set body_row_cols = [] %}
        {% set body_row_cols = body_row_cols|merge([
            {content: item.label},
            {content: item.frequency},
            {content: date(item.next)|ibexa_short_datetime},
            {content: ('coderhapsodie.ezdataflow.' ~ (item.enabled ? 'yes' : 'no'))|trans},
        ]) %}

        {% set col_raw %}
            <a href="{{ path('coderhapsodie.ezdataflow.history.workflow', {id: item.id}) }}"
               class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text modal-history"
               title="{{ 'coderhapsodie.ezdataflow.workflow.list.history'|trans }}"
               data-bs-toggle="modal"
               data-bs-target="#modal-history"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--history">
                    <use xlink:href="{{ ibexa_icon_path('history') }}"></use>
                </svg>
            </a>
            <a href="{{ path('coderhapsodie.ezdataflow.workflow.edit', {id: item.id}) }}"
               class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text modal-edit"
               title="{{ 'coderhapsodie.ezdataflow.workflow.list.edit'|trans }}"
               data-bs-toggle="modal"
               data-bs-target="#modal-edit-scheduled"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--edit">
                    <use xlink:href="{{ ibexa_icon_path('edit') }}"></use>
                </svg>
            </a>
            {% if item.enabled %}
                <a href="{{ path('coderhapsodie.ezdataflow.workflow.disable', {id: item.id}) }}"
                   class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                   title="{{ 'coderhapsodie.ezdataflow.workflow.list.disable'|trans }}"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--logout" style="fill: #f7d000;">
                        <use xlink:href="{{ ibexa_icon_path('logout') }}"></use>
                    </svg>
                </a>
            {% else %}
                <a href="{{ path('coderhapsodie.ezdataflow.workflow.enable', {id: item.id}) }}"
                   class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text"
                   title="{{ 'coderhapsodie.ezdataflow.workflow.list.enable'|trans }}"
                >
                    <svg class="ibexa-icon ibexa-icon--small ibexa-icon--logout" style="fill: #00825c;">
                        <use xlink:href="{{ ibexa_icon_path('approved') }}"></use>
                    </svg>
                </a>
            {% endif %}
            <a href="{{ path('coderhapsodie.ezdataflow.workflow.delete', {id: item.id}) }}"
               class="btn ibexa-btn ibexa-btn--ghost ibexa-btn--no-text modal-delete"
               title="{{ 'coderhapsodie.ezdataflow.workflow.list.delete'|trans }}"
               data-name="{{ item.label }}"
               data-bs-toggle="modal"
               data-bs-target="#modal-delete-confirm"
            >
                <svg class="ibexa-icon ibexa-icon--small ibexa-icon--trash">
                    <use xlink:href="{{ ibexa_icon_path('trash') }}"></use>
                </svg>
            </a>
        {% endset %}
        {% set body_row_cols = body_row_cols|merge([{
            has_action_btns: true,
            content: col_raw,
            raw: true,
        }]) %}

        {% set body_rows = body_rows|merge([{ cols: body_row_cols }]) %}
    {% endfor %}

    {% embed '@ibexadesign/ui/component/table/table.html.twig' with {
        headline: 'coderhapsodie.ezdataflow.workflow.list.title'|trans,
        head_cols: [
            { content: 'coderhapsodie.ezdataflow.workflow.list.name'|trans },
            { content: 'coderhapsodie.ezdataflow.workflow.list.frequency'|trans },
            { content: 'coderhapsodie.ezdataflow.workflow.list.next_execution'|trans },
            { content: 'coderhapsodie.ezdataflow.workflow.list.enabled'|trans },
            { },
        ],
        body_rows,
        empty_table_info_text: 'coderhapsodie.ezdataflow.workflow.list.empty'|trans,
    } %}
        {% block header %}
            {% embed '@ibexadesign/ui/component/table/table_header.html.twig' %}
                {% block actions %}
                    <button
                        type="button"
                        class="btn ibexa-btn ibexa-btn--tertiary ibexa-btn--small"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-new-scheduled"
                    >
                        <svg class="ibexa-icon ibexa-icon--small ibexa-icon--create">
                            <use xlink:href="{{ ibexa_icon_path('create') }}"></use>
                        </svg>
                        <span class="ibexa-btn__label">
                            {{ 'coderhapsodie.ezdataflow.workflow.new.submit'|trans|desc('Create') }}
                        </span>
                    </button>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}

    {% if pager.haveToPaginate %}
        {% include '@ibexadesign/ui/pagination.html.twig' with {
            'pager': pager,
            'paginaton_params': {
                'routeName': paginate_route,
                'routeParams': paginate_params|default({})
            }
        } %}
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Manage ajax pagination
        const display = document.getElementById('{{ id }}');
        display.addEventListener('click', (e) => {
            const link = e.target.closest('.ibexa-pagination a');
            if (!link) {
                return;
            }

            const loader = document.getElementById('loading_{{ id }}');
            e.preventDefault();
            loader.hidden = false;
            display.innerHTML = '';
            fetch(link.href)
                .then((r) => r.text())
                .then((content) => {
                    const node = document.createElement('div');
                    node.innerHTML = content;
                    display.innerHTML = node.querySelector('#{{ id }}').innerHTML;
                    loader.hidden = true;
                })
            ;
        });
    });
</script>
