<h2>{{ 'coderhapsodie.ezdataflow.history.title'|trans }}</h2>

<div class="ez-table-header">
    <div class="ez-table-header__headline">{{ 'coderhapsodie.ezdataflow.history.list.title'|trans }}</div>
    <div class="ez-table-header__tools">
        <label for="ezdataflow_history_filter">{{ 'coderhapsodie.ezdataflow.history.filter.label'|trans }}</label>
        <select id="ezdataflow_history_filter" name="filter">
            <option value="0" {{ filter == 0 ? 'selected="selected"' }}>{{ 'coderhapsodie.ezdataflow.history.filter.none'|trans }}</option>
            <option value="1" {{ filter == 1 ? 'selected="selected"' }}>{{ 'coderhapsodie.ezdataflow.history.filter.non_empty_only'|trans }}</option>
        </select>
    </div>
</div>

{% include '@ezdesign/ezdataflow/parts/tab/job_list.html.twig' with {
    identifier: 'ezdataflow_history_results',
    paginate_route: 'coderhapsodie.ezdataflow.history',
    paginate_params: {'filter': filter}
} %}

<script>
    (function ($) {
        $(document).ready(function ($) {
            // Manage ajax pagination
            $('#ezdataflow_history_filter').change(function (e) {
                e.preventDefault();
                $('#loading_ezdataflow_history_results').removeClass('d-none');
                $('#ezdataflow_history_results')
                    .html('')
                    .load('{{ path('coderhapsodie.ezdataflow.history') }}?filter=' + this.value + ' #ezdataflow_history_results>*', null, function () {
                        $('#loading_ezdataflow_history_results').addClass('d-none');
                    });
            });
        });
    })(jQuery);
</script>
