{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h2>{{ 'coderhapsodie.ezdataflow.oneshot.title'|trans }}</h2>

<div class="ez-table-header">
    <div class="ez-table-header__headline">{{ 'coderhapsodie.ezdataflow.workflow.list.title'|trans }}</div>
    <div>
        <button type="button" class="btn btn-primary btn-modal-launcher" data-toggle="modal" data-target="#ez-modal--new-oneshot">
            <svg class="ez-icon ez-icon--medium ez-icon--light ez-icon-create">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"></use>
            </svg>
        </button>
    </div>
</div>

{% include '@ezdesign/ezdataflow/parts/tab/job_list.html.twig' with {identifier: 'ezdataflow_oneshot_history', paginate_route: 'coderhapsodie.ezdataflow.oneshot'} %}

{% if form is defined %}
    <div class="modal fade ez-modal show" id="ez-modal--new-oneshot" tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog" role="document">
            {{ form_start(form) }}
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{{ 'coderhapsodie.ezdataflow.workflow.oneshot.new.title'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#discard"></use>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">{{ 'coderhapsodie.ezdataflow.workflow.new.cancel'|trans }}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">{{ 'coderhapsodie.ezdataflow.workflow.new.create'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
