{% import '@ezdesign/ezdataflow/macros.twig' as macros %}

{% block content %}

    <div class="container ez-main-container">
        {% if item is not null %}
        <h2>{{ 'coderhapsodie.ezdataflow.history.job.title'|trans }} n°{{ item.id }}</h2>

        <table class="table ez-table ez-table--list">
            <thead>
            <tr>
                <th colspan="2">
                    {{ 'coderhapsodie.ezdataflow.history.details.title'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.name'|trans }}</td>
                <td>{{ item.label }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.request'|trans }}</td>
                <td>{{ item.requestedDate|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.status'|trans }}</td>
                <td>{{ macros.translateStatus(item.status) }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.start'|trans }}</td>
                <td>{{ item.startTime|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.end'|trans }}</td>
                <td>{{ item.endTime|date('d/m/Y H:i:s') }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.count'|trans }}</td>
                <td>{{ item.count }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.errors'|trans }}</td>
                <td>{{ item.exceptions|length }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.type'|trans }}</td>
                <td>{{ item.dataflowType }}</td>
            </tr>
            <tr>
                <td>{{ 'coderhapsodie.ezdataflow.history.details.options'|trans }}</td>
                <td>{{ item.options|json_encode }}</td>
            </tr>
            </tbody>
        </table>
        {% else %}
            <p class="ez-table-no-content">{{ 'coderhapsodie.ezdataflow.notfound'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
